html, body {
    padding: 0;
}

#visual-ui-btn {
    z-index: 9999999;
    position: absolute;
    width: 40px;
    height: 200px;
    font-size: 25px;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(20, 167, 235);
    transition: border 0.1s ease-in-out, left 0.3s ease-out;
    -webkit-transition: border 0.1s ease-in-out, left 0.3s ease-out;
    box-shadow: 0px 0px 5px black;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    border: 2px solid rgb(20, 167, 235);
}

#visual-ui-btn:hover {
    border: 2px solid rgb(2, 39, 247);
}

#visual-ui-btn:active {
    border: 2px solid rgb(2, 39, 247);
    background-color: cadetblue;
}

#ui-root {
    z-index: 9999999;
    position: absolute;
    background-color: rgba(187, 187, 187, 0.9);
    width: 300px;
    height: 100%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

#ui-mode {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: -70px;
    width: 60px;
    box-shadow: 0px 0px 5px black, 5px 5px 5px black;
    background-color: rgba(200, 200, 200);
    padding: 2px;
    z-index: 200;
    user-select: none;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    z-index: 999999;
}

.ui-mode {
    margin: 4px;
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
    color: #333;
    font-size: 18px;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
    z-index: 200;
    border: 1px solid black;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.ui-mode[status="true"] {
    background-color: rgba(130, 130, 130, 0.8);
}

.ui-mode:hover[status='false'] {
    background-color: rgba(160, 160, 160, 0.8);
}

#ui-details {
    width: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    padding: 3%;
}

#ui-new {
    width: 100%;
    height: 35px;
    text-align: center;
    color: #333;
    background-color: #fff;
    box-shadow: 0px 0px 3px #000;
    font-size: 25px;
    transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
}

#ui-new:hover {
    background-color: #ddd;
}

#ui-new:active {
    background-color: #bbb;
}

.ui-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    font-size: 25px;
}

.ui-trigger-detail {
    transform: rotate(90deg);
    transition: text-shadow 0.2s linear, transform 0.5s ease-out;
}

.ui-trigger-detail:hover {
    text-shadow: 0px 0px 2px #000;
}

.ui-input {
    height: 20px;
    color: #000;
    background-color: #bbb;
    font-size: 18px;
    border: none;
    width: 50%;
    transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
}

.ui-input[_invalid='true'] {
    background-color: #f558;
}

.ui-attrs-one {
    height: 35px;
    width: 90%;
    right: 0px;
    background-color: #ddd;
    border-left: #000 solid 1px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
}

.ui-array {
    width: 90%;
    right: 0px;
    border-left: #000 solid 1px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
}

.ui-array-new {
    right: 0px;
    border-left: #000 solid 1px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
}