<template>
    <div id="left2" class='leftTab' style="z-index:-1;opacity: 0;"><!-- loc -->
        <h3 class="leftTabHeader">地图选点&nbsp;&nbsp;<button onclick="editor.mode.onmode('save')">保存</button>&nbsp;&nbsp;<button onclick="editor.uifunctions.addAutoEvent()">添加自动事件页</button>&nbsp;&nbsp;<button onclick="editor_multi.editCommentJs('loc')">配置表格</button>
        </h3>
        <div class="leftTabContent">
            <p id='pos_a6771a78_a099_417c_828f_0a24851ebfce' style="margin-left: 15px">0,0</p>
            <data-tree ref="tree"></data-tree>
        </div>
    </div>
</template>

<script>

</script>