html{
    font-size: 4vw;
}
input, textarea, select, button {
    font-size: 1rem;
}

html, body, div, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;;
    background-color: #F5F5F5;
}

/* ::-webkit-scrollbar {
    width: 5px;
} */
.main {
    max-width: 100%;
    min-height: 500px;
    margin: 0 auto;
}

#left, #mid, #right {
    /* border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); */
    background-color: #F5F5F5;
    width: 100vw;
    height: 100vw;
}

#left {
    position: absolute;
}

#mapEditArea {
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    top: 0;
    /* padding: 10px 5px; */
    box-sizing: border-box;
    display: none;
}

#pout {
    display: block;
    width: 95vw;
    height: 62vw;
    box-sizing: border-box;
    margin-left: 5vw;
    margin-top: 23px;
    line-height: 5vw;
    font-size: 12px;
    font-family: 'Lucida Console', Monaco, monospace;
    white-space: pre;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: auto;
}

#mapEditArea p {
    margin: 10px;
    display: block;
    width: 70%;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
}

#editTip {
    position: absolute;
    width: 95vw;
    left: 4vw;
    top: 4vw;
}

#editTip .btn {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

#editBtns {
    position: absolute;
    width: 95vw;
    left: 4vw;
    top: 20vw;
}

#newMaps {
    position: absolute;
    left: 4vw;
    top: 35vw;
}

#newFloors {
    position: absolute;
    width: 95vw;
    left: 4vw;
    top: 43vw;
}

#mid {
    position: absolute;
}

#mid2 {
    display: none;
}

#mapEdit {
    overflow: hidden;
}

.map {
    position: absolute;
    left: 4vw;
    top: 4vw;
    width: 96vw;
    height: 96vw;
}
.map canvas{
    width: 96vw;
    height: 96vw;
}

#mid .tools {
    position: absolute;
    width: 425px;
    height: 180px;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    padding: 10px 5px;
    margin-left: 8px;;
    box-sizing: border-box;
}

#tip {
    float: right;
    width: 45%;
    /* height: 95%; */
    min-height: 9rem;
    padding: 5px 10px 10px 10px;
    margin-right: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 0.93rem;
}

#tip p{
    margin: 0.5rem
}

.files {
    width: 50%;
    height: 120px;
    /* padding: 10px; */
    margin-top: 15px;
}

.input {
    display: block;
    max-width: 150px;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 10px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#bgSelect {
    width: 50%;
    height: 100px;
    margin-top: 10px;
}

#bgSelect span {
    /* display: block; */
    font-size: 14px;
    line-height: 30px;
}

#printOut {
    margin-top: 10px;
    height: 20px;

}

.btn {
    width: 80px;
    border-radius: 2px;
    line-height: 30px;
    margin: 0;
    min-width: 50px;
    padding: 0 5px;
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: 0;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 0;
    background: rgba(158, 158, 158, .2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .12);
    color: #fff;
    background-color: #26A69A;
}

.btn:hover {
    background-color: #009688;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#right {
    position: absolute;
    /* border: 1px solid rgb(238, 13, 13); */
}

#iconLib {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 5px;
    overflow: auto;
}

#iconImages {
    z-index: 0;
    overflow: hidden;
}

#iconImages img {
    position: absolute;
}

.gameCanvas {
    position: absolute;
}

#dataSelection, .appendSelection {
    position: absolute;
    /* top:0;
    left:320px; */
    z-index: 75;
    width: 26px;
    height: 26px;
    margin: 3px 0 0 3px;
    padding: 0;
    /* display: none; */
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid #000;
    box-shadow: 0 0 0 2px #fff,
    0 0 0 3px #000;
}

#iconExpandBtn {
    position: absolute;
    left: 20px;
    bottom: 30px;
    font-size: 15px;
    padding: 6px;
    display: none;
}

.warnText {
    color: #D50000;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
}

.infoText {
    color: #2196F3;
}

.successText {
    color: #00897B;
    line-height: 1.2em;
}

td, .coltd, .rowtd {
    border: 0.230vw solid #fff;
    color: #fff;
    cursor: crosshair;
}

table.col, div.col {
    position: relative;

    text-align: center;
    border-collapse: collapse;
}

table.col td,
div.col .coltd {
    background-color: #4DB6AC;
}

#arrColMark td {
    width: 16px;
}

#arrColMark {
    top: 2px;
    left: 5vw;
    width: 95vw;
    height: 16px;
    font-size: 13px;
    display: none;
}

#mapColMark {
    position: absolute;
    top: 0;
    left: 4vw;
    width: 96vw;
    height: 4vw;
    font-size: 3vw;
}


#mapColMark .coltd,
#mapColMark .coltd .coltext {
    position: absolute;
    width: 7.15vw;
    height: 4vw;
    line-height: 4vw;
    padding: 0;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0.117307vw;
    border-right-width: 0.117307vw;
}

#mapColMark .coltd:hover .colBlock {
    position: absolute;
    top: 4vw;
    left:0;
    height: 96vw;
    width: 7.384615vw;
    z-index: 100;
    background-color: rgba(38, 166, 154, .5);
}

table.row,div.row,
table.row,div.row .rowtext {
    width:4vw;
    position: relative;
    text-align: right;
    vertical-align: middle;
    border-collapse: collapse;
}

table.row td,
div.row .rowtd .rowtext{
    background-color: #4C221B;
}

#arrRowMark {
    top: 5px;
    left: 0;
    width: 4vw;
    height: 62vw;
    font-size: 12px;
    display: none;
}

#mapRowMark {
    position: absolute;
    top: 4vw;
    left: 0;
    width: 4vw;
    height: 96vw;
    font-size: 3vw;
}

#mapRowMark .rowtd{
    position: absolute;
}

#mapRowMark .rowtd,
#mapRowMark .rowtd .rowtext{
    height: 7.15vw;
    line-height: 7.15vw;
    padding: 0;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0.117307vw;
    border-bottom-width: 0.117397vw;
}

#mapRowMark .rowtd:hover .rowBlock {
    position: absolute;
    left: 4vw;
    top: 0;
    height: 7.384615vw;
    width: 96vw;
    z-index: 100;
    background-color: rgba(76, 34, 27, .5);
}

#menuDiv * { margin: 0; padding: 0; }
#midMenu{
    background: #fff;
    border-color: #ccc #666 #666 #ccc;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    font: normal 2.5vw Arial, sans-serif;
    margin: 0;
    outline: none;
    padding: 4px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    max-width: 40%;
    z-index: 101;

    border-radius: 4px;
}
#midMenu .menuitem{
    color: #000;
    font: normal 2.5vw Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 4px 7em 4px 4px;
    white-space: nowrap;

    /* padding-left: 12px; */

    /* padding-right: 20px; */
}
#midMenu .menuitem:hover{
    background-color: #d6e9f8;
    border-color: #d6e9f8;
    border-style: dotted;
    border-width: 1px 0;
    padding-bottom: 3px;
    padding-top: 3px;
}
#midMenu .menuitem-content{
    color: #000;
    font: normal 2.5vw Arial, sans-serif;
}

/* for vue dom */
[v-cloak] {
    display: none !important;
}

#down{
    position: absolute;
    left:0;
    top:100vw;
    bottom: 0;
    width: 100vw;
}

#colorPanel {
    position: fixed;
    width: max-content;
    height: 205px;
    z-index: 240;
    padding: 4px 6px;
    margin-top: 6px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#colorPicker {
    margin: 2px 0;
    border-radius: 3px;
    width: 90px;
}

#uieventDiv {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(127,127,127,0.6);
    z-index: 2000
}

#uieventDialog {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: white;
    width: 100vw;
}

#uieventHead {
    margin: 10px 20px;
}

#uieventTitle {
    font-weight: bold;
}

#uieventNo {
    float: right;
}

#uieventYes {
    display: none;
    float: right;
    margin-right: 15px;
}

#uieventBody {
    width: 100vw;
    height: 100vw;
    position: relative;
    margin-left: 0;
    margin-bottom: 5px;
    overflow: hidden;
}

#uievent {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#selectPoint {
    display: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

#selectPointFloor {
    margin-right: 10px;
}

#selectPointButtons {
    display: inline;
}

#selectPointBox {
    position: absolute;
    z-index: 75;
    width: 26px;
    height: 26px;
    margin: 3px 0 0 3px;
    padding: 0;
    /* display: none; */
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid #000;
    box-shadow: 0 0 0 2px #fff,
    0 0 0 3px #000;
}