.icon-i, .icon-f {
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'icon-font';
    src: url('../icon/iconfont.woff?v=250') format('woff');
}

.icon-i {
    font-family: icon-font !important;
}

.icon-file::before {
    content: "\e621";
}

.icon-f {
    width: 24px;
    height: 24px;
}