#pluginLeft {
  color: #C7C7C7;
  left: 0px;
  width: 280px;
  background-color: #2E2E2E;
}
#pluginLeft .container {
  top: 100px;
  width: 100%;
  bottom: 0;
}
#pluginLeft li {
  cursor: pointer;
  padding: 8px 15px;
}
#pluginLeft li:hover {
  background: #363636;
}
#pluginLeft li.chosen {
  background: #3E3E3E;
}
#pluginLeft li h5 {
  font-size: 14px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: bold;
}
#pluginLeft li h5 .ver {
  color: lightgray;
  font-size: 10px;
}
#pluginLeft li p {
  word-break: break-all;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 14px;
}
#pluginLeft li span {
  font-size: 12px;
}
